{
    "extends": "react-app",
    "rules": {
        "quotes": [
            "error",
            "single"
        ]
    },
    "ignore": [
        "flow-typed",
        "build",
        "src/0.13.0.assembly.js"
    ],
    "globals": {
        "Raven": true
    }
}