body {
  scroll-behavior: smooth;
}
.justify--space-between {
    justify-content: space-between;
}

.justify--space-around {
    justify-content: space-around;
}

.justify--flex-end {
    justify-content: flex-end;
}

.justify--flex-start {
    justify-content: flex-start;
}

.justify--center {
    justify-content: center;
}

.align-items--center {
    align-items: center;
}

.align-items--start {
    align-items: flex-start;
}

.left-50-percent {
  left: 50%;
}

.toast {
  animation-duration: 0.5s;
}

.h55 {
    height: 55px !important;
}
.hmin55 {
    min-height: 55px !important;
}

.wmin435 {
  min-width: 435px !important;
}

.wmax435 {
  max-width: 435px !important;
}



@media only screen and (max-width: 768px) {
  .sidebar {
    display: none !important;
  }
}

.changesets-list {
  height: calc(100vh - 55px);
}

/* animations */

.filters-appear {
  opacity: 0.01;
}

.filters-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.filters-enter {
  opacity: 0.01;
}

.filters-enter.filters-enter-active {
  opacity: 1;
  /*transition: opacity 500ms ease-out;*/
  animation: 0.5s slideInDown ease-in;
}

.filters-leave {
  opacity: 1;
  position: fixed;
  
}

.filters-leave.filters-leave-active {
   opacity: 1; 
   right: 0;
   animation: 0.2s slideOutUp ease-out;
}


.floaters-appear {
  opacity: 0.01;
}

.floaters-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.floaters-enter {
  opacity: 0.01;
}

.floaters-enter.floaters-enter-active {
  opacity: 1;
  /*transition: opacity 500ms ease-out;*/
   animation: 0.3s slideInDown ease-out;
}

.floaters-leave {
  opacity: 1;
}

.floaters-leave.floaters-leave-active {
  opacity: 0.01; 
  transition: opacity 0.2s ease-in;
}



.map-hide-appear {
  opacity: 0.01;
}

.map-hide-appear.example-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.map-hide-enter {
  opacity: 0.01;
}

.map-hide-enter.map-hide-enter-active {
  opacity: 1;
  /*transition: opacity 500ms ease-out;*/
  animation: 0.3s fadeIn ease-out;
}

.map-hide-leave {
  opacity: 1;
}

.map-hide-leave.map-hide-leave-active {
  opacity: 0.9;  
  transition: opacity 1s ease-out;
}

.tippy-tooltip.osmcha-theme {
    /* Your styling here. Example: */
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 1px 0px 6px 0px #ccc
}
.tippy-tooltip.osmcha-theme [x-arrow] {
  /* Your arrow styling here. Uses transform: rotate() so no need for CSS triangle shenanigans. */
    background-color:transparent;
    border: 1px solid #ccc;
    fill: white;
    border-color: transparent transparent #ccc #ccc; /* same for any position */
}

/* truncate uptill 2 lines */

.truncate-2-lines {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (2) */
  max-height: 2.4em; 
  min-height: 2.4em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: left;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* hide ... if we have text, which is less than or equal to max lines */
.truncate-2-lines:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: transparent;
}


/* changeset map*/
.cmap-container .cmap-sidebar {
  position: fixed !important;
  bottom: 0px;
  padding: 5px;
  top: inherit !important;
  left: inherit !important;
}

.cmap-container .cmap-map {
  background: #000 !important;
}

.cmap-changeset-section {
  display: none !important;
}

.cmap-diff {
   position: fixed !important;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  top: inherit !important;
  left: inherit !important;
}