.justify--space-between {
    justify-content: space-between;
}

.justify--space-around {
    justify-content: space-around;
}

.justify--flex-end {
    justify-content: flex-end;
}

.justify--flex-start {
    justify-content: flex-start;
}

.justify--center {
    justify-content: center;
}

.align-items--center {
    align-items: center;
}

.align-items--start {
    align-items: flex-start;
}

.toast {
  animation-duration: 0.5s;
}

.h55 {
    height: 55px!important;
}
.hmin55 {
    min-height: 55px!important;
}

.filters-bar-enter {
  opacity: 0.7;
}

.filters-bar-enter.filters-bar-enter-active {
  opacity: 1;
  animation: 0.3s slideInRight ease-out;
  /*transition: opacity 200ms ease-in;*/
}

.filters-bar-leave {
  opacity: 1;
}

.filters-bar-leave.filters-bar-leave-active {
  opacity: 0.7;
  /*transition: opacity 300ms ease-in;*/
  animation: 0.4s fadeOutRight ease-in;
}

.tippy-tooltip.osmcha-theme {
    /* Your styling here. Example: */
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    box-shadow: 1px 0px 6px 0px #ccc
}
.tippy-tooltip.osmcha-theme [x-arrow] {
  /* Your arrow styling here. Uses transform: rotate() so no need for CSS triangle shenanigans. */
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-color: transparent transparent #ccc #ccc; /* same for any position */
}