.justify--space-between {
    justify-content: space-between;
}

.justify--space-around {
    justify-content: space-around;
}

.justify--flex-end {
    justify-content: flex-end;
}

.align-items--center {
    align-items: center;
}