.justify--space-between {
    justify-content: space-between;
}

.justify--space-around {
    justify-content: space-around;
}

.justify--flex-end {
    justify-content: flex-end;
}

.justify--center {
    justify-content: center;
}

.align-items--center {
    align-items: center;
}

.toast {
  animation-duration: 0.5s;
  /*animation-delay: 1s;*/
  /*animation-iteration-count: infinite;*/
}